package web

templ HelloForm() {
	@Base() {
		<form hx-post="/hello" method="POST" hx-target="#hello-container">
			<input id="endpoint" name="endpoint" type="url" required />
			<button type="submit">Submit</button>
		</form>
		<div id="hello-container"></div>
	}
}

templ HelloPost(name string) {
	<div>
    <p>Hello { name }</p>
  </div>
}

templ HealthPost (health Health) {
  <div>
    <p>Server: { health.Server }</p>
  </div>
}
